# Environnement
.env
.env.local
.env.*.local

# Go
backend/tmp
backend/*.exe
backend/*.test
backend/vendor/
backend/storage/pdfs/
backend/storage/plannings/

# PHP
frontend/vendor/
frontend/composer.lock

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/.secrets/
